<%= provide(:title, "修改密码") %>
<div classs="rows">
  <div class="span9">
    <div class="box">
      <span class="box_header">修改密码</span>
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }, :html => {:class => "form-horizontal"}) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="control-group">
    <div class="control-label"><%= f.label :email, "邮箱" %></div>
    <div class="controls"><%= f.email_field :email, :disabled => true, :style => "width: 290px;" %></div>
 </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="control-group">
    <div class="control-label"><%= f.label :password, "新密码" %></div>
    <div class="controls"><%= f.password_field :password, :autofocus => true, :autocomplete => "off",:style => "width: 290px;" %></div>
 </div>

  <div class="control-group">
    <div class="control-label"><%= f.label :password_confirmation, "请再输入一次" %></div>
    <div class="controls"><%= f.password_field :password_confirmation, :style => "width:290px;" %></div>
</div>

<div class="control-group">
    <div class="control-label"><%= f.label :current_password, "当前密码" %></div>
    <div class="controls"><%= f.password_field :current_password, :style => "width: 290px;" %></div>
</div>

  <div class="control-group">
    <div class="controls"><%= f.submit "更新", :class => "btn btn-success" %></div>
  </div>
<% end %>
    </div>
  </div>
</div>
