<% @comment ||= @topic.comments.build %>
<div id="new_comment">
  <%= form_for([@comment.commentable, @comment], :remote => true) do |f| %>
  <div class="field">
	<div>
		<%= f.label :comment, "添加回应"%>
	</div>
	<div id="gotop_link">
		<%= link_to  raw("<span>回到顶部</span>"), "#" %>
	</div>
	<%= f.kindeditor :comment, :height => 120, :items => ['image','link','baidumap','emoticons','flash','code','preview'],:width => 671, :allowImageUpload => true, :allowFlashUpload => false, :editor_id => 'comment_editor', :cssData => 'body{font-size: 14px;}' %>
   </div><br>
   <div class="action">
	 <%= f.submit "提交", :class => "btn btn-primary" %>
	 <div class="pull-right">
	   <a href="/help", target="_blank">编辑器语法帮助/如何上传图片?</a>
	  </div>
   </div> 
  <% end %>
</div>
