<%= form_for(@node, :html => {:class => "form-horizontal"}) do |f| %>
<%= render "shared/error_messages", :object => f.object %>
<div class="control-group">
  <div class="control-label"><%= f.label :name, "节点名" %></div>
  <div class="controls"><%= f.text_field :name %></div>
</div>
<div class="field">
  <%= f.label :introduction, "节点介绍" %>
  <%= f.text_area :introduction, :style => "height:400px; width:660px" %>
</div>
<br>
<div class="action">
  <%= f.submit "发布", :class => "btn btn-primary" %>
  </div>
</div>
</div>  
<% end %>
