<%= form_for(@topic) do |f| %>
  <%= render "shared/error_messages", :object => f.object %>
 <div class="field">
	<%= collection_select :topic, :node_id, Node.all,
                      :id,:name, :prompt => "选择主题类型" %>
</div>
<br>
<div class="field">
  <%= f.label :title, "标题" %>
  <%= f.text_field :title %>
</div>
 
<div calss="field">
  <%= f.label :body, "话题内容" %>
  <%= f.text_area :body %>
</div>

<div calss="action">
  <%= f.submit "发布", :class => 'btn btn-primary' %>
</div>  
<% end %>