<%= provide(:title, "论坛") %>
<div class="row">
  <div class="span9">
    <div class="box">
      <div id="node_info">
        <% @nodes.each do |node| %>
        <%= link_to node.name, node %>         
        <% end -%>
      </div>
      <div class="pull-right new-topic">
        <%= link_to raw("<i class='icon-plus icon-white'></i>发言"), new_topic_path, :class => "btn btn-success" %>
       </div>

      <% @topics.each do |topic| %>
      <div class="topic_line">
        <div class="media">
          <div class="pull-left">
           <%= link_to image_tag(topic.user.avatar_url(:normal), :class => "img-rounded media-object"), user_path(topic.user) %>
         </div>
         <div class="media-body">
          <div class="media-heading">
            <div id="topics_title">
              <%= link_to topic.title, topic_path(topic) %>
            </div>
          </div>
          <div class="media">
            <div class="topic_line_infos">
              <span>
                <div class="label current_topic_node">
                  <%= link_to topic.node.name, node_path(topic.node) %>
                </div>
              </span>
							<span><u><%= link_to topic.user.username, user_path(topic.user) %></u>&nbsp;•&nbsp;发布于<%= time_format(topic.created_at) %></span>
              <div class="pull-right">
               <span class="label label-info">
                <%= topic.comments.count %>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end -%>
  <%= will_paginate @topics, :previous_label => '←', :next_label => '→' %> 
</div>
</div>
<div class="span3">
 <% if user_signed_in? %>
     <%= render_cell :user, :current_user_infos, :user => current_user %>
   <% else %>
     <%= render_cell :user, :welcome %>
   <% end %>
  <%= render_cell :topic, :site_about %>
  <%= render_cell :ad, :gongyi1 %>
  <%= render_cell :topic, :site_infos %>
</div>
</div>


