<%= provide(:title, @topic.title) %>
<div class=:rows>
  <div class="span9">
    <div class="box">
      <div class="media">
        <div class="pull-right">
          <%= link_to image_tag(@topic.user.avatar_url(:normal), :class => "img-rounded media-object"), user_path(@topic.user) %>
        </div>
      <div class="topic_infos">
        <div class="media-body">
          <div class="media-heading">
            <div class="topic_title break_word">
              <%= @topic.title %>
            </div>           
          </div>

          <div class="media">
          <div class="topic_infos_no_title">
          <span><i class="icon-tag"></i><%= link_to @topic.node.name, node_path(@topic.node) %></span>
          <span>本帖由-<%= link_to @topic.user.username, user_path(@topic.user) %>-于<%= time_ago_in_words(@topic.created_at) %>发布</span>
          </div>
        </div>

        </div>
      </div>
      </div>

  <div class="content_doc">
    <%= markdown @topic.body %>
  </div>
  
  
  
  	<div class="topic_bottom_infos">

 <!-- JiaThis Button BEGIN -->
<div class="jiathis_style">
<a class="jiathis_button_douban">豆瓣</a>
<a class="jiathis_button_tsina">新浪微博</a>

<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
</div>
<script type="text/javascript" >
var jiathis_config={
  summary:"",
  shortUrl:false,
  hideMore:true
}
</script>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
<!-- JiaThis Button END -->


  	  <div class="pull-right">
  	   <%= link_to raw('<span><i class="icon-pencil"></i>修改</span>'), edit_topic_path(@topic) %>
  	   <%= link_to raw('<span><i class="icon-remove"></i>删除</span>'), topic_path(@topic),
                                                                       :method => :delete,
                                                                       :confirm => "确定删除吗？" %>
  	   <span><i class="icon-star-empty"></i>收藏</span>
  	   <span><i class="icon-star"></i>取消收藏</span>
      </div>
    </div>

</div>
<% unless @topic.comments.empty?%>
	<div class="box">
  <% comments = @topic.comments.paginate(:page => params[:page], :per_page => 20) %>
    <%= render :partial => 'comments/comment', :locals => { :comments => comments } %>
  <%= will_paginate comments, :previous_label => '<前页', :next_label => '后页>' %>
 </div>
<% end %>
 <div class="box">
  <%= render "comments/form" %>
 </div>
</div>
</div>
  </div>
</div>

