<%= provide(:title, "收藏") %>
<div class="row">
  <div class="span9">
    <div class="box">
    	<div class="box_header"><div class="stats_user_name"><%= link_to @user.username, user_path(@user) %> 收藏的话题</div>     
    </div>
    <% @topics_follow.each do |topic_follow| %>

    <div class="topic_line">
     <div id="topics_title">
       <div class="label current_topic_node"><%= link_to topic_follow.followable.node.name, node_path(topic_follow.followable.node) %></div>
       <div class="pull-right"><span><%= time_ago_in_words topic_follow.followable.created_at %></span>
         <div class="label label-info"><%= topic_follow.followable.comments.count %></div>
       </div>
       <%= link_to topic_follow.followable.title, topic_path(topic_follow.followable) %>
     </div>
   </div>
   <% end -%>
   <%= will_paginate @topics_follow, :previous_label => '<前页', :next_label => '后页>' %>
 </div>
</div>

<div class="span3">
  <%= render :partial => "shared/side_box_home_page/states", :locals => {:user => @user} %>
</div>
</div>