<%= provide(:title, "成员") %>
<div class="row">
  <div class="span9">
  	<div class="box">
      <div class="box_header"><span>已有<%= @users.count %>会员加入“30度阳光”</span></div>
      <% @users.each do |user| %>
      <div class="member">
       <%= link_to image_tag(user.avatar_url(:normal), :class => "img-rounded"), user %><br>
       <%= user.username %>
     </div>
     <% end %>
     <%= will_paginate @users, :previous_label => '<前页', :next_label => '后页>' %>
   </div>
   
 </div>

 <div class="span3">
 <% if user_signed_in? %>
     <%= render_cell :user, :current_user_infos, :user => current_user %>
   <% else %>
     <%= render_cell :user, :welcome %>
   <% end %>
 </div>
</div>



