<%= provide(:title, @user.username) %>
<%= image_tag(@user.avatar_url(:large), :class => "img-rounded") if @user.avatar %>
用户名：<%= @user.username %><br>
性别:
<% if @user.gender == true %>
  女
<% else %>
  男
<% end %><br>
所在地:<%= @user.province %>省.<%= @user.city %>市 <br>
自我介绍:<p><%= @user.description %></p> <br>
豆瓣:<%= @user.douban %><br>
微博:<%= @user.sinaweibo %><br>
个人博客:<%= @user.site %><br><br>

收藏:<%= @user.follow_count %>

     <% @user.follows_by_type('Topic').each do |topic|%>
       <%= link_to topic.followable.title, topic_path(topic.followable) %>
     <% end -%>
<br>
创建的话题:<br>
<% @user.topics.each do |topic| %>
  <%= topic.title %><br>
<% end -%>
