<%= provide(:title, @user.username) %>
<div class="row">
  <div class="span9">
  	<div class="box">

<div class="img_username_home_page">
  <div class="media">
<div class="pull-left">
  <%= image_tag(@user.avatar_url(:large), :class => "img-rounded media-object") %>
</div>
 <div class="media-body">
 	<div class="media-heading">
 	  <%= @user.username %>
 	</div>
 	<div class="media">
 	  <div class="user_id">第<%= @user.id %>位会员</div>
 	</div>
 </div>
</div>
</div>

<ul class="user_imformations">
  <li class="user_imformation">性别:
   <% if @user.gender == true %>
         女
      <% else %>
         男
      <% end %>
  </li>
  <li class="user_imformation">所在地: <%= @user.province %>.<%= @user.city %></li>
  <li class="user_imformation">学校: <%= @user.school %></li>
  <li class="user_imformation">豆瓣: <%= link_to @user.douban, "#{@user.douban}", :target => "_blank" %></li>
  <li class="user_imformation">微博: <%= link_to @user.sinaweibo, "#{@user.sinaweibo}", :target => "_blank" %></li>
  <li class="user_imformation">个人博客: <%= link_to @user.site, "#{@user.site}", :target => "_blank" %></li>
</ul>
  	</div>
     <%= render :partial => "shared/side_box_home_page/current_topics", :locals => {:topics => @topics} %>
     <%= render :partial => "shared/side_box_home_page/current_comments", :locals => {:comments => @comments} %>
  </div>
<div class="span3">
<%= render :partial => "shared/side_box_home_page/states", :locals => {:user => @user} %>
<%= render :partial => "shared/side_box_home_page/description", :locals => {:user => @user} %>
<%= render :partial => "shared/side_box_home_page/douban", :locals => {:user => @user} %>

</div>
</div>

收藏:<%= @user.follow_count %>

     <% @user.follows_by_type('Topic').each do |topic|%>
       <%= link_to topic.followable.title, topic_path(topic.followable) %>
     <% end -%>
<br>
创建的话题:<br>
<% @user.topics.each do |topic| %>
  <%= topic.title %><br>
<% end -%>