<div class="row">
  <div class="span9">
  	<div class="box">
      <div class="box_header">
        修改密码
      </div>

      <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :class => "form-horizontal", :method => :put }) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.hidden_field :reset_password_token %>

      <div>
        <%= f.label :password, "新密码" %>
        <%= f.password_field :password, :autofocus => true %><br>
      </div>

      <div>
        <%= f.label :password_confirmation, "再输入新密码" %>
        <%= f.password_field :password_confirmation %><br>
      </div>
      <br>

      <div>
       <%= f.submit "修改密码", :class => "btn" %><br>
     </div>
     
     <% end %>
    </div>
  </div>
</div>

