<%= provide(:title, "帮助") %>
 	<div class="box">
 	  温馨提醒:本站的编辑器支持markdown语法编辑;图片不支持本地上传，您可以使用远程图床;下面的语法符号都是在英语编辑模式，不能在中文编辑模式
 	</div>
 	<div class="row">
  <div class="span12">
  	<div class="box">
  		<h1>如何上传图片？</h1><br>
      <h2>本站暂时不支持本地图片上传，您可以使用远程图片或图床来添加图片.</h2><br>
      下面我简单描述一下如何上传图片. <br>
      1.首先你可以将你要上传的图片，上传到qq空间，微博，.......<br>
      2.上传后你将鼠标放到图片上点击鼠标右键，再选择点击“复制图片网址”(不同浏览器可能叫法不一样，但我们的目的就是获得图片的地址)<br>
      3.然后你回到我们网站的编辑器点击右上角的“图片”，编辑器框中会出现“![]()”这几个字符 <br>
      4.最后你把刚刚复制的图片地址粘添到小括号中，如 ![](http://localhost:3000/assets/help/2.png) . <br>
      5.等你提交发布内容后，![](你的图片的地址) 会显示对应的图片.<br>
  	  <ul>
  	  	<h2><li>除了上面说的一些社交网站，你还可以使用"围脖是个好图床"</li></h2><br>
  	  	<h3>(0)请先登入你的新浪微博帐号</h3><br>
  	  	(1)登入<a href="http://weibotuchuang.sinaapp.com/", target="_blank">http://weibotuchuang.sinaapp.com/</a><br>
  	  	(2)然后会打开一个新的窗口,如下 <br>
  	  	 <%= image_tag("help/2.png") %><br>
  	  	(3)接着点击屏幕中心,会跳出你本地电脑的对话框，然后您就可以选择你要上传的图片了 <br>
  	  	(4)上传成功后，会出现一个链接，请选中复制它 <br>
  	  	<%= image_tag "help/3.png" %><br>
  	  	(5)然后返回你的编辑器,操作和以上相同 <br>
  	  	<h2><li>使用其他图床</li></h2><br>
  	  	原理还是这个，你可以将图片发到其他你知道的图床，然后得到图片的远程图片链接 <br>
  	  </ul>
			<br><br>
     <h1>编辑器其他帮助!</h1><br>
     <ol>
      <h2><li>@某人</li></h2><br>
      与微博类似，你可以在评论中@某个人（注意格式： @ + 用户名 + 空格），然后会创建一条消息发送给你@的人，提醒他有人@他了.
      <h2><li>改变文字大小,使用诺干个#号(默认字体大小是14px)</li></h2><br><br>
      (1)#使用1.5em大小字体 <br>
         将显示 <h1>使用1.5em大小字体</h1><br>
      (2)##使用1.2em大小字体 <br>
         将显示 <h2>使用1.2em大小字体</h2><br>
      (3)###使用1em大小字体 <br>
         将显示 <h3>使用1em大小字体</h3><br>
      (4)####使用0.8em大小字体 <br>
         将显示 <h4>使用0.8em大小字体</h4><br>
      (5)#####使用0.5em大小字体 <br>
         将显示 <h5>使用0.5em大小字体</h5><br><br>
      <h2><li>显示代码，用```</li></h2><br>
      显示c语言代码 <br>
      ```c <br>
      #include("stdio.h")<br>
      int main(void)<br>
      {<br>
      	print "30度阳光";<br>
      	renturn 0;<br>
      }<br>
      ```<br>
      将显示为 <br>
      <%= image_tag("help/4.png") %><br><br>
      显示ruby代码 <br>
      ```ruby <br>
      puts "30度阳光" <br>
      ```<br>
      将显示为 <br>
      <%= image_tag("help/5.png") %><br><br>

      <h2><li>引用其他内容，如你想引用鲁迅的名言,用></li></h2><br>
      如:>横眉冷对千夫指，俯首甘为孺子牛。 <br>
      将显示为 <br>
      <%= image_tag("help/6.png") %>
     </ol>
  	</div>
</div>
