<%= provide(:title, "帮助") %>
 	<div class="box">
 	  温馨提醒:本站的编辑器支持markdown语法编辑;图片不支持本地上传，您可以使用远程图床;下面的语法符号都是在英语编辑模式，不能在中文编辑模式
 	</div>
 	<div class="row">
  <div class="span8">
  	<div class="box">
  		<h1>如何上传图片？</h1><br>
  	  <ol>
  	  	<h2><li>如何上传图片(方法一:使用"围脖是个好图床")</li></h2><br>
  	  	<h3>(0)请先登入你的新浪微博帐号</h3><br>
  	  	(1)点击编辑框右上角的图片按钮<%= image_tag("help/1.png") %><br>
  	  	(2)然后会打开一个新的窗口,如下 <br>
  	  	 <%= image_tag("help/2.png") %><br>
  	  	(3)接着点击屏幕中心,会跳出你本地电脑的对话框，然后您就可以选择你要上传的图片了 <br>
  	  	(4)上传成功后，会出现一个链接，请选中复制它 <br>
  	  	<%= image_tag "help/3.png" %><br>
  	  	(5)然后返回你的编辑器，输入如下代码 <br>
  	  	<h3>![](小括号中填写你刚刚复制的图片地址)</h3><br>
  	  	注意上面的感叹号，方括号，小括号，都是在英文模式编辑下的，不能在中文模式下 <br>
  	  	(6)当你提交后你刚刚填写代码的位置将显示你上传的图片
  	  	<h2><li>如何上传图片(方法二:使用"新浪微博")</li></h2><br>
  	  	原理和第一个类似,你可以发一条图片微博,然后将鼠标移到图片上，单击右键，选择保存图片地址，当然你也可以选其他人的图片，不一定是自己发的.最后回到编辑器输入
  	  	<h3>![](小括号中填写你刚刚复制的图片地址)</h3><br>
  	  	注意上面的感叹号，方括号，小括号，都是在英文模式编辑下的，不能在中文模式下 <br>
  	  	<h2><li>如何上传图片(方法三:使用其他图床)</li></h2><br>
  	  	原理还是这个，你可以将图片发到其他你知道的图床，然后得到图片的远程图片链接 <br>
  	  	<h3>![](小括号中填写你刚刚得到的图片地址)</h3><br>
  	  	注意上面的感叹号，方括号，小括号，都是在英文模式编辑下的，不能在中文模式下 <br>
  	  </ol>
  	</div>
  </div>
  <div class="span4">
  	<div class="box">
     <h1>编辑器其他帮助!</h1><br>
     <ol>
      <h2><li>@某人</li></h2><br>
      与微博类似，你可以在评论中@某个人（注意格式： @ + 用户名 + 空格），然后会创建一条消息发送给你@的人，提醒他有人@他了.
      <h2><li>改变文字大小,使用诺干个#号(默认字体大小是14px)</li></h2><br><br>
      (1)#使用1.5em大小字体 <br>
         将显示 <h1>使用1.5em大小字体</h1><br>
      (2)##使用1.2em大小字体 <br>
         将显示 <h2>使用1.2em大小字体</h2><br>
      (3)###使用1em大小字体 <br>
         将显示 <h3>使用1em大小字体</h3><br>
      (4)####使用0.8em大小字体 <br>
         将显示 <h4>使用0.8em大小字体</h4><br>
      (5)#####使用0.5em大小字体 <br>
         将显示 <h5>使用0.5em大小字体</h5><br><br>
      <h2><li>显示代码，用```</li></h2><br>
      显示c语言代码 <br>
      ```c <br>
      #include("stdio.h")<br>
      int main(void)<br>
      {<br>
      	print "30度阳光";<br>
      	renturn 0;<br>
      }<br>
      ```<br>
      将显示为 <br>
      <%= image_tag("help/4.png") %><br><br>
      显示ruby代码 <br>
      ```ruby <br>
      puts "30度阳光" <br>
      ```<br>
      将显示为 <br>
      <%= image_tag("help/5.png") %><br><br>

      <h2><li>引用其他内容，如你想引用鲁迅的名言,用></li></h2><br>
      如:>横眉冷对千夫指，俯首甘为孺子牛。 <br>
      将显示为 <br>
      <%= image_tag("help/6.png") %>
     </ol>
  	</div>
  </div>
</div>
