<% @follows_topic.each do |follow_topic| %>
    <div class="topic_line">
     <div id="topics_title">
       <div class="label current_topic_node"><%= link_to follow_topic.followable.node.name, node_path(follow_topic.followable.node)%> </div>
     <div class="pull-right"><span><%= time_format follow_topic.followable.created_at%></span>
           <div class="label label-info"><%= follow_topic.followable.comments.count %></div>
       </div>
       <%= link_to follow_topic.followable.title, topic_path(follow_topic.followable) %>
     </div>
   </div>
   <% end %>
   <%= will_paginate @follows_topic, :previous_label => '<前页', :next_label => '后页>' %>
