<div class="box">
  <div class="img_username">
    <div class="media">
      <div class="pull-left">
        <%= link_to image_tag(@user.avatar_url(:large), :class => "img-rounded media-object"), user_path(@user) %>
      </div>
      <div class="media-body">
        <div class="media-heading">
          <%= link_to @user.username, user_path(@user) %>
        </div>
        <div class="media">
          <%= time_format @user.created_at %>加入
        </div>
      </div>
    </div>
  </div>

  <div class="state_box">
    <% unless @user.description.blank? %>
      <%= output_content @user.description %>
      <%= link_to "(编辑)", "/users/#{@user.id}/edit#introduction" %>
    <% else %>
      <%= link_to "(添加自我介绍)", "/users/#{@user.id}/edit#introduction" %>
    <% end %>
  </div>
  <% if @user.avatar.blank? %>
    <span>无头像怎么勾搭妹子or帅哥，快去<%= link_to "换一个", edit_user_path(@user) %>吧</span>
  <% end %>

</div>
