<% if user_signed_in? %>
<%= render 'shared/user_infos' %>
<% else %>
<%= render 'shared/welcome' %>
<% end %>

<div class="box">
  <div class="box_header">
	<div class="label current_topic_node"><%= node.name %></div> 标签简介
  </div>
  <%= node.introduction %>
</div>

<%= render 'shared/site_help' %>