<div class="navbar navbar-fixed-top ">
  <div class="navbar-inner">
  	<div class="container">
      <!-- link_to image_tag("5.png", :id => "logo_img"), root_path -->
      <%= link_to "30度阳光",root_path, :id => "logo" %>
      <ul class="nav navbar-nav pull-left">
        <li><%= link_to "论坛", topics_path %></li>
        <li><%= link_to "成员", users_path %></li>
        <li>
        <form action="/search" class="navbar-search pull-left " method="get">
          <input type="text" name="q" id="search" value="<%= params[:q] %>" placeholder="搜索" />
        </form>
        </li>
      </ul>

      <ul class="nav pull-right">
       <% if user_signed_in? %>
       <li>
        <div class="head-action">
          <%= link_to "消息 #{count_unread_notification}", notifications_path, :class => "label label-important" %>
        </div>
      </li>
      <li><%= link_to raw("<i class='icon-user icon-white'></i>#{current_user.username}"), current_user %></li>
        <li><%= link_to raw("<i class='icon-cog icon-white'></i>设置"), edit_user_path(current_user) %></li>
        <li class="divrder"></li>
        <li><%= link_to raw("<i class='icon-random icon-white'></i>登出"), destroy_user_session_path, :method => :delete %></li>
      <% else %>
      <li><%= link_to raw("<i class='icon-off icon-white'></i>登录"), new_user_session_path %></li>
      <li><%= link_to raw("<i class=' icon-heart icon-white'></i>注册"), new_user_registration_path %></li>
      <% end %>
    </ul>
    </div>
  </div>
</div>
